html{
    scroll-padding-top: 60px;
}

.koupit-btn{
    bottom:0;
}

.signup-popup{
    padding: 10px;
    background-color: #f8f9fa;
    border: 3px solid #f1f1f2;;
}

.closeSignUp {
    background-color: red;
    font-size: small; /* or remove this */
    --hover-color: darkred;
}
.closeSignUp:hover {
    background-color: var(--hover-color);
}