html{
    scroll-padding-top: 60px;
}

.koupit-btn{
    bottom:0;
}

.signup-popup{
    padding: 10px;
    background-color: #f8f9fa;
    border: 3px solid #f1f1f2;;
}

.closeSignUp {
    background-color: red;
    font-size: small; /* or remove this */
    --hover-color: darkred !important; /* why does this not work :/... */
}

.addRemoveBtn{
    background-color: #f1f1f2;
    border: 2px solid #f1f1f2;
    color: black;
} 